<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cows &amp; Bulls</title>
    <link rel="stylesheet" href="../static/css/site.css">
    <link rel="shortcut icon" href="../static/img/favicon.png" type="image/x-icon">
    <script src="../static/js/game_logic.js"></script>
</head>
<body>
    <h1>Cows and Bulls!</h1>
    <h2>The value to guess is:</h2>
    <h2>from template variable:</h2>
    <h2>{{value}}</h2>
    <h2>from js:</h2>
    <h2 id="test-element"></h2>
    <form action="">
        <button>Randomize</button>
    </form>
    <script>
        let numberToGuess = '{{ value }}';
        document.getElementById("test-element").innerHTML = numberToGuess;
    </script>
</body>
</html>